<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <GeneralSettings>
    <Language Code="en-US" />
    <CanShowSplash>true</CanShowSplash>
    <CanCheckVersion>true</CanCheckVersion>
    <IncludePreRelease>true</IncludePreRelease>
    <CompileBeforeParse>true</CompileBeforeParse>
    <IsSmartIndenterPrompted>false</IsSmartIndenterPrompted>
    <IsAutoSaveEnabled>false</IsAutoSaveEnabled>
    <AutoSavePeriod>10</AutoSavePeriod>
    <UserEditedLogLevel>false</UserEditedLogLevel>
    <MinimumLogLevel>6</MinimumLogLevel>
    <SetDpiUnaware>true</SetDpiUnaware>
    <EnableFolderDragAndDrop>true</EnableFolderDragAndDrop>
    <EnableExperimentalFeatures />
  </GeneralSettings>
  <HotkeySettings>
    <Settings>
      <HotkeySetting>
        <Key1>M</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>IndentCurrentModuleCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>R</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>CodePaneRefactorRenameCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>F</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>RefactorEncapsulateFieldCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>M</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>RefactorExtractMethodCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>C</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>RefactorMoveCloserToUsageCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>R</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>CodeExplorerCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>E</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>ExportAllCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>T</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>FindSymbolCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>P</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>IndentCurrentProcedureCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>I</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>InspectionResultsCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>`</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>ReparseCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>T</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>TestExplorerCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>D</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>PeekDefinitionCommand</CommandTypeName>
      </HotkeySetting>
    </Settings>
  </HotkeySettings>
  <AutoCompleteSettings IsEnabled="true">
    <SmartConcat IsEnabled="true">
      <ConcatVbNewLineModifier>CtrlKey</ConcatVbNewLineModifier>
      <ConcatMaxLines>25</ConcatMaxLines>
    </SmartConcat>
    <SelfClosingPairs IsEnabled="true" />
    <BlockCompletion IsEnabled="false" CompleteOnEnter="false" CompleteOnTab="false" />
  </AutoCompleteSettings>
  <ToDoListSettings>
    <ToDoMarkers>
      <ToDoMarker Text="TODO" />
      <ToDoMarker Text="NOTE" />
      <ToDoMarker Text="BUG" />
    </ToDoMarkers>
    <ColumnHeadersInformation>
      <ToDoGridViewColumnInfo>
        <DisplayIndex>0</DisplayIndex>
        <Width />
      </ToDoGridViewColumnInfo>
      <ToDoGridViewColumnInfo>
        <DisplayIndex>1</DisplayIndex>
        <Width />
      </ToDoGridViewColumnInfo>
      <ToDoGridViewColumnInfo>
        <DisplayIndex>2</DisplayIndex>
        <Width />
      </ToDoGridViewColumnInfo>
      <ToDoGridViewColumnInfo>
        <DisplayIndex>3</DisplayIndex>
        <Width />
      </ToDoGridViewColumnInfo>
    </ColumnHeadersInformation>
  </ToDoListSettings>
  <CodeInspectionSettings>
    <CodeInspections>
      <CodeInspection Name="AnnotationInIncompatibleComponentTypeInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="ApplicationWorksheetFunctionInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="ArgumentWithIncompatibleObjectTypeInspection" Severity="Error"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="AssignedByValParameterInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="AssignmentNotUsedInspection" Severity="Suggestion"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="AttributeValueOutOfSyncInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="BooleanAssignedInIfElseInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ConstantNotUsedInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="DefaultMemberRequiredInspection" Severity="Error"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="DefaultProjectNameInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="DefTypeStatementInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="DuplicatedAnnotationInspection" Severity="Error"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="EmptyCaseBlockInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EmptyDoWhileBlockInspection" Severity="Suggestion"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EmptyElseBlockInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EmptyForEachBlockInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EmptyForLoopBlockInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EmptyIfBlockInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EmptyMethodInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EmptyModuleInspection" Severity="Hint"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EmptyStringLiteralInspection" Severity="Warning"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="EmptyWhileWendBlockInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="EncapsulatePublicFieldInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="ExcelMemberMayReturnNothingInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ExcelUdfNameIsValidCellReferenceInspection" Severity="Warning"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="FunctionReturnValueAlwaysDiscardedInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="FunctionReturnValueDiscardedInspection" Severity="Suggestion"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="HostSpecificExpressionInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="HungarianNotationInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="IIfSideEffectInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplementedInterfaceMemberInspection" Severity="Suggestion"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitActiveSheetReferenceInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitActiveWorkbookReferenceInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitByRefModifierInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="ImplicitContainingWorkbookReferenceInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitContainingWorksheetReferenceInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitDefaultMemberAccessInspection" Severity="Suggestion"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitlyTypedConstInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitPublicMemberInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="ImplicitRecursiveDefaultMemberAccessInspection" Severity="Suggestion"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitUnboundDefaultMemberAccessInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitVariantReturnTypeInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="InconsistentArrayBaseInspection" Severity="Hint"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="InconsistentParamArrayBaseInspection" Severity="Hint"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="IndexedDefaultMemberAccessInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="IndexedRecursiveDefaultMemberAccessInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="IndexedUnboundDefaultMemberAccessInspection" Severity="Warning"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="IntegerDataTypeInspection" Severity="Hint"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="InvalidAnnotationInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="IsMissingOnInappropriateArgumentInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="IsMissingWithNonArgumentParameterInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="KeywordsUsedAsMemberInspection" Severity="Warning"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="LineContinuationBetweenKeywordsInspection" Severity="Warning"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="LineLabelNotUsedInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="MemberNotOnInterfaceInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="MisleadingByRefParameterInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="MissingAnnotationArgumentInspection" Severity="Error"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="MissingAttributeInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="MissingMemberAnnotationInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="MissingModuleAnnotationInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="ModuleScopeDimKeywordInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="ModuleWithoutFolderInspection" Severity="Suggestion"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="MoveFieldCloserToUsageInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="MultilineParameterInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="MultipleDeclarationsInspection" Severity="Warning"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="NegativeLineNumberInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="NonBreakingSpaceIdentifierInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="NonReturningFunctionInspection" Severity="Error"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ObjectVariableNotSetInspection" Severity="Error"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ObjectWhereProcedureIsRequiredInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ObsoleteCallingConventionInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ObsoleteCallStatementInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ObsoleteCommentSyntaxInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ObsoleteErrorSyntaxInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ObsoleteGlobalInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ObsoleteLetStatementInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ObsoleteMemberUsageInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="ObsoleteTypeHintInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ObsoleteWhileWendStatementInspection" Severity="Warning"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="OnErrorGoToMinusOneInspection" Severity="Warning"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="OnLocalErrorInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="OptionBaseInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="OptionExplicitInspection" Severity="Error"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="ParameterCanBeByValInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ParameterNotUsedInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ProcedureCanBeWrittenAsFunctionInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ProcedureNotUsedInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ProcedureRequiredInspection" Severity="Error"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="PublicControlFieldAccessInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="PublicEnumerationDeclaredInWorksheetInspection" Severity="Warning"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="PublicImplementationShouldBePrivateInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ReadOnlyPropertyAssignmentInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="RedundantByRefModifierInspection" Severity="DoNotShow"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="RedundantOptionInspection" Severity="Hint"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="SelfAssignedDeclarationInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="SetAssignmentWithIncompatibleObjectTypeInspection" Severity="Error"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ShadowedDeclarationInspection" Severity="Suggestion"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="SheetAccessedUsingStringInspection" Severity="Suggestion"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="StepIsNotSpecifiedInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="StepOneIsRedundantInspection" Severity="Hint"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="StopKeywordInspection" Severity="Suggestion"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="SuperfluousAnnotationArgumentInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="SuspiciousLetAssignmentInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="SuspiciousPredeclaredInstanceAccessInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UDTMemberNotUsedInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UnassignedVariableUsageInspection" Severity="Error"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UndeclaredVariableInspection" Severity="Error"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UnderscoreInPublicClassModuleMemberInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UnhandledOnErrorResumeNextInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UnreachableCaseInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UnrecognizedAnnotationInspection" Severity="Warning"
        InspectionType="RubberduckOpportunities" />
      <CodeInspection Name="UntypedFunctionUsageInspection" Severity="Hint"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="UseMeaningfulNameInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="UseOfBangNotationInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="UseOfRecursiveBangNotationInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="UseOfUnboundBangNotationInspection" Severity="Warning"
        InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="ValueRequiredInspection" Severity="Error"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="VariableNotAssignedInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="VariableNotUsedInspection" Severity="Warning"
        InspectionType="CodeQualityIssues" />
      <CodeInspection Name="VariableTypeNotDeclaredInspection" Severity="Warning"
        InspectionType="LanguageOpportunities" />
      <CodeInspection Name="WriteOnlyPropertyInspection" Severity="Suggestion"
        InspectionType="NamingAndConventionsIssues" />
    </CodeInspections>
    <WhitelistedIdentifiers />
    <RunInspectionsOnSuccessfulParse>true</RunInspectionsOnSuccessfulParse>
    <IgnoreFormControlsHungarianNotation>true</IgnoreFormControlsHungarianNotation>
  </CodeInspectionSettings>
  <UnitTestSettings>
    <BindingMode>EarlyBinding</BindingMode>
    <AssertMode>StrictAssert</AssertMode>
    <ModuleInit>true</ModuleInit>
    <MethodInit>true</MethodInit>
    <DefaultTestStubInNewModule>true</DefaultTestStubInNewModule>
  </UnitTestSettings>
  <IndenterSettings>
    <IndentEntireProcedureBody>true</IndentEntireProcedureBody>
    <IndentEnumTypeAsProcedure>true</IndentEnumTypeAsProcedure>
    <IndentFirstCommentBlock>true</IndentFirstCommentBlock>
    <IndentFirstDeclarationBlock>true</IndentFirstDeclarationBlock>
    <IgnoreEmptyLinesInFirstBlocks>true</IgnoreEmptyLinesInFirstBlocks>
    <AlignCommentsWithCode>true</AlignCommentsWithCode>
    <AlignContinuations>true</AlignContinuations>
    <IgnoreOperatorsInContinuations>true</IgnoreOperatorsInContinuations>
    <IndentCase>true</IndentCase>
    <ForceDebugStatementsInColumn1>false</ForceDebugStatementsInColumn1>
    <ForceDebugPrintInColumn1>false</ForceDebugPrintInColumn1>
    <ForceDebugAssertInColumn1>false</ForceDebugAssertInColumn1>
    <ForceStopInColumn1>false</ForceStopInColumn1>
    <ForceCompilerDirectivesInColumn1>false</ForceCompilerDirectivesInColumn1>
    <IndentCompilerDirectives>true</IndentCompilerDirectives>
    <AlignDims>false</AlignDims>
    <AlignDimColumn>15</AlignDimColumn>
    <EndOfLineCommentStyle>AlignInColumn</EndOfLineCommentStyle>
    <EmptyLineHandlingMethod>Ignore</EmptyLineHandlingMethod>
    <EndOfLineCommentColumnSpaceAlignment>50</EndOfLineCommentColumnSpaceAlignment>
    <IndentSpaces>2</IndentSpaces>
    <VerticallySpaceProcedures>true</VerticallySpaceProcedures>
    <LinesBetweenProcedures>1</LinesBetweenProcedures>
    <GroupRelatedProperties>false</GroupRelatedProperties>
  </IndenterSettings>
  <WindowSettings>
    <CodeExplorerVisibleOnStartup>true</CodeExplorerVisibleOnStartup>
    <CodeInspectionsVisibleOnStartup>true</CodeInspectionsVisibleOnStartup>
    <TestExplorerVisibleOnStartup>false</TestExplorerVisibleOnStartup>
    <TodoExplorerVisibleOnStartup>false</TodoExplorerVisibleOnStartup>
    <CodeExplorer_SortByName>true</CodeExplorer_SortByName>
    <CodeExplorer_SortByCodeOrder>false</CodeExplorer_SortByCodeOrder>
    <CodeExplorer_GroupByType>false</CodeExplorer_GroupByType>
  </WindowSettings>
  <IgnoredProjectsSettings>
    <IgnoredProjectPaths />
  </IgnoredProjectsSettings>
</Configuration>
