<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<PluginSettings version="1.0">
  <property name="Plugins" type="System.String">
    <value>Microsoft Word|@@|1.2.2|@@|True|@@|0|;;|Microsoft Word Open XML|@@|1.0.0|@@|True|@@|1|;;|Microsoft Excel|@@|1.0.0|@@|True|@@|2|;;|File Handlers|@@|1.2.1|@@|True|@@|3|;;|PDF|@@|1.0.0|@@|True|@@|4|;;|Media Tags|@@|1.0.0|@@|True|@@|5</value>
  </property>
</PluginSettings>