<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SearchSettings version="1.0">
  <property name="UseRegularExpressions" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseCaseSensitivity" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseWholeWordMatching" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseRecursion" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="ReturnOnlyFileNames" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseNegation" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="IncludeLineNumbers" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="ContextLines" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="ContextLinesBefore" type="System.Int32">
    <value>2</value>
  </property>
  <property name="ContextLinesAfter" type="System.Int32">
    <value>2</value>
  </property>
  <property name="FilterItems" type="System.String">
    <value>File^Extension|.exe|None|False||True&lt;File^Extension|.dll|None|False||True&lt;File^Extension|.pdb|None|False||True&lt;File^Extension|.msi|None|False||True&lt;File^Extension|.sys|None|False||True&lt;File^Extension|.ppt|None|False||True&lt;File^Extension|.gif|None|False||True&lt;File^Extension|.jpg|None|False||True&lt;File^Extension|.jpeg|None|False||True&lt;File^Extension|.png|None|False||True&lt;File^Extension|.bmp|None|False||True&lt;File^Extension|.class|None|False||True&lt;File^Extension|.chm|None|False||True&lt;Directory^Name|.git|Equals|False||True&lt;Directory^Name|.hg|Equals|False||True&lt;Directory^Name|.svn|Equals|False||True&lt;Directory^Name|.cvs|Equals|False||True&lt;Directory^Name|.metadata|Equals|False||True&lt;Directory^Name|.settings|Equals|False||True</value>
  </property>
  <property name="ShowAllResultsAfterSearch" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="SkipHidden" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="SkipSystem" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="MinimumFileSize" type="System.String">
    <value>
    </value>
  </property>
  <property name="MaximumFileSize" type="System.String">
    <value>
    </value>
  </property>
  <property name="MinimumFileSizeType" type="System.String">
    <value>byte</value>
  </property>
  <property name="MaximumFileSizeType" type="System.String">
    <value>byte</value>
  </property>
  <property name="ModifiedDateStart" type="System.String">
    <value>
    </value>
  </property>
  <property name="ModifiedDateEnd" type="System.String">
    <value>
    </value>
  </property>
  <property name="Exclusions" type="System.String">
    <value>
    </value>
  </property>
  <property name="MinimumFileCount" type="System.Int32">
    <value>0</value>
  </property>
</SearchSettings>